root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

# Matches multiple files with brace expansion notation
# Set default charset
[*.php]
charset = utf-8

[DevelopmentTools/*.cmd]
end_of_line = crlf

[*.{css,js,php,sh}]
end_of_line = lf
indent_size = 4
indent_style = tab
